html, body, #root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f7fa;
}

.login-box {
  width: 420px;
  padding: 40px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 28px;
  font-size:28px;
}

.login-box input {
   box-sizing: border-box; 
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size:16px;
}

.login-box button {
  box-sizing: border-box; 
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background: #45a049;
}

.register-btn {
  margin-top: 10px;
  background: #2196F3;
}